<md-sidenav-layout>
  <!--<md-sidenav #sidenav mode="side">
  </md-sidenav>-->
  <md-toolbar color="primary">
    <!--<button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>-->
    <span class="toolbar-title">
      {{title}}
    </span>

    <span class="app-toolbar-filler"></span>
    <div class="user-proxime" *ngIf="isLoggedIn">
      <span class="user-proxime_name">{{userName}}</span>
      <div class="user-proxime_img">
        <img [src]="userImg" *ngIf="!!userImg">
      </div>
    </div>
    <button class="logout-button" md-button (click)="logout()">Log Out</button>
  </md-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>